{% load staticfiles %}
<!--
author: ?

-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Events Planning  a Wedding Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content=" " />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link rel="icon" type="image/png" href="{% static 'images/favicon.ico'%}"/>
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href='{% static "css/flexslider.css"%}' type="text/css" media="screen" property="" />
<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js'%}"></script>


<!-- //js -->
<!-- font-awesome-icons -->
<link href="{% static 'css/font-awesome.css'%}" rel="stylesheet"> 
<!-- //font-awesome-icons -->
<link href='{% static "css/font.css"%}' rel="stylesheet">
<link href='{% static "css/font2.css"%}' rel='stylesheet' type='text/css'>
</head>

 {% block content  %}
 {% endblock%}